@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);
*{
    font-family: 'Kalam',sans-serif;
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: #f2c94c;
    color: black;
}
nav h2{
    text-align: center;
}